
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose File</title>
    <link rel="stylesheet" href="static/styles.css">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <script src="{{ url_for('static', filename='28adb9f300.js') }}" crossorigin="anonymous"></script>
    <script>
            function validateForm(){
                var image = document.getElementById("image").value;
                var name = document.getElementById("name").value;
                if (image =='')
                {
                    return false;
                }
                if(name =='')
                {
                    return false;
                }
                else
                {
                    return true;
                }
                return false;
            }

             function updateList() {
                var input = document.getElementById('myFile');
                var output = document.getElementById('fileList');
                var children = "";
                for (var i = 0; i < input.files.length; ++i) {
                    children += '<li>' + '<a>File Name: </a>' + input.files.item(i).name
                        + '<a> &nbsp;&nbsp;File Type: </a>' + input.files.item(i).type  + '</li>';
                }
                output.innerHTML = '<ul>'+children+'</ul>';
            }
    </script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">

        <h2>Automation Tools</h2>
        <div class="logo_wrap">
				<a href="#">
					<img src="static/TTD_BIG.png" alt="logo"></a>
        </div>
        <ul>
             <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fa-solid fa-list-ol"></i>Campaign ID</a></li>
            <li><a href="/CampaignName"><i class="fas fa-address-card"></i>Campaign Name</a></li>
            <li><a href="/chooseFile"><i class="fa-solid fa-image"></i>Creative File</a></li>
<!--            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>-->
            <!--<li><a href="CreativeSetting"><i class="fa-solid fa-scale-balanced"></i>Rules</a></li>-->
            <li><a href="/viewMacros"><i class="fa-sharp fa-solid fa-eye"></i>View All Macros</a></li>
            <!--<li><a href="#"><i class="fa-sharp fa-solid fa-file-export"></i>Output</a></li>-->
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Welcome to Tracking Creation Assistant.</div>
        <div class="info">
            <p>Click on the "Choose File" button to upload a file:</p>
            <form method="post" action="/fileUpload" enctype="multipart/form-data">
                <input type="file" id="myFile" name="files" multiple="multiple"  onchange="updateList()" accept="image/*" >

                <!-- <input type="submit" value='Save' onclick="return validateForm()"/> -->
                <div></div>
                <p></p>
                <a href="/empty" >
                    <button class="styled"type="button">clean all rules& files history</button>
                </a>
                <p>Selected files:</p>
                <div id="fileList"></div>
                <input type="submit" value='Upload'>
            </form>

        </div>
    </div>
</div>
</body>
</html>