<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreativeCreationAssistant Version 0.1</title>
    <link rel="stylesheet" href="static/styles.css">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <script src="{{ url_for('static', filename='28adb9f300.js') }}" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='ttd_universal_pixel.js') }}"></script>
    <script type="text/javascript" >
    var Adgroup_list =[];
<!--        function setRATrackURL()-->
<!--        {-->
<!--            e = document.getElementById('clickthrough_rule')-->
<!--            e.value='https://trace.rtbasia.com/tkp?rta_k=fCKmfCn4oj&utm_campaign=##cpn##&utm_source=TTD&utm_content=%%AdGroupID%%_##cs##&utm_medium=%%Media%%&device=Mobile&imei=__IMEI__&mac=__MAC__&mac1=__MAC1__&idfa=__IDFA__&androidid=__ANDROIDID__&oaid=__OAID__&uid=%%TDID%%&custid1=__CUSTID1__&custid2=__CUSTID2__&os=__OS__&ua=__UA__&ts=__TS__&clientip=%%IP%%&caid=__CAID__'-->
<!--        }-->

        function change_type(){
            var type = document.getElementById('creative_type');
            if (type.value != "Hosted Native"){
                document.getElementById('c').style.display = 'initial';
                document.getElementById('n1').style.display = 'none';
                document.getElementById('n2').style.display = 'none';
                document.getElementById('n3').style.display = 'none';
                document.getElementById('n4').style.display = 'none';
                document.getElementById('n5').style.display = 'none';
                document.getElementById('n6').style.display = 'none';
                document.getElementById('n7').style.display = 'none';
                document.getElementById('n8').style.display = 'none';
            }
            else if (type.value == "Hosted Native"){
                document.getElementById('c').style.display = 'initial';
                document.getElementById('i').style.display = 'initial';
                document.getElementById('n1').style.display = 'initial';
                document.getElementById('n2').style.display = 'initial';
                document.getElementById('n3').style.display = 'initial';
                document.getElementById('n4').style.display = 'initial';
                document.getElementById('n5').style.display = 'initial';
                document.getElementById('n6').style.display = 'none';
                document.getElementById('n7').style.display = 'none';
                document.getElementById('n8').style.display = 'none';
                document.getElementById('n9').style.display = 'none';
                document.getElementById('n10').style.display = 'none';
                return;
            }

            if (type.value == "Hosted Flash"){
                document.getElementById('i').style.display = 'none';
                document.getElementById('a').style.display = 'initial';
                document.getElementById('c').style.display = 'initial';
                document.getElementById('n6').style.display = 'initial';
                document.getElementById('n7').style.display = 'none';
                document.getElementById('n8').style.display = 'none';
                document.getElementById('n9').style.display = 'none';
                document.getElementById('n10').style.display = 'none';
                return;
            }
            if (type.value == "Hosted HTML5"){
                document.getElementById('i').style.display = 'none';
                document.getElementById('a').style.display = 'initial';
                document.getElementById('c').style.display = 'initial';
                document.getElementById('n6').style.display = 'initial';
                document.getElementById('n7').style.display = 'initial';
                document.getElementById('n8').style.display = 'initial';
                document.getElementById('n9').style.display = 'none';
                document.getElementById('n10').style.display = 'none';
                return;
            }
            if (type.value == "Third Party Display"){
                document.getElementById('i').style.display = 'none';
                document.getElementById('n6').style.display = 'none';
                document.getElementById('n7').style.display = 'initial';
                document.getElementById('n8').style.display = 'initial';
                document.getElementById('n9').style.display = 'initial';
                document.getElementById('n10').style.display = 'none';
                document.getElementById('a').style.display = 'none';
                document.getElementById('c').style.display = 'none';
                return;
            }
            if (type.value == "Third Party Video"){
                document.getElementById('i').style.display = 'none';
                document.getElementById('n6').style.display = 'none';
                document.getElementById('n7').style.display = 'none';
                document.getElementById('n8').style.display = 'none';
                document.getElementById('n9').style.display = 'none';
                document.getElementById('n10').style.display = 'initial';
                document.getElementById('a').style.display = 'none';
                document.getElementById('c').style.display = 'none';
                return;
            }
            else if (type.value == "Third Party Audio"){
                document.getElementById('i').style.display = 'none';
                document.getElementById('n6').style.display = 'none';
                document.getElementById('n7').style.display = 'none';
                document.getElementById('n8').style.display = 'none';
                document.getElementById('n9').style.display = 'none';
                document.getElementById('n10').style.display = 'initial';
                document.getElementById('a').style.display = 'none';
                document.getElementById('c').style.display = 'none';
                return;
            }
            if (type.value == "Hosted Display"){
                document.getElementById('i').style.display = 'initial';
                document.getElementById('n7').style.display = 'none';
                document.getElementById('n8').style.display = 'none';
                document.getElementById('n9').style.display = 'none';
                document.getElementById('n10').style.display = 'none';
                return;
            }
            if (type.value == "Hosted Video"){
                document.getElementById('i').style.display = 'initial';
                document.getElementById('n7').style.display = 'none';
                document.getElementById('n8').style.display = 'none';
                document.getElementById('n9').style.display = 'none';
                document.getElementById('n10').style.display = 'none';
                return;
            }
            if (type.value == "Hosted Audio"){
                document.getElementById('i').style.display = 'initial';
                document.getElementById('n7').style.display = 'none';
                document.getElementById('n8').style.display = 'none';
                document.getElementById('n9').style.display = 'none';
                document.getElementById('n10').style.display = 'none';
                return;
            }



        }
        function combine_checkboxes_adgroup(){
            var files = document.getElementById( "files" )
            var files_string = ""
            var adgroup = document.getElementById( "Ag_list" )
            adgroup.value = Adgroup_list
            $('input:checkbox').each(function() {
                if( $(this).is(':checked') ) {

                    if ( files_string.length == 0 ) {
                        files_string = $(this).val()
                    }
                    else {
                        files_string = files_string + ";" + $(this).val()
                    }
                }
            });
            files.value = files_string

            var impURL  = document.getElementById("imp_url")

            $('#rule_setting_form').submit()

            function highlightSize(s) {
              var targetSpan = $("span:contains('" + s + "')");
              var spanText = targetSpan.text()

              targetSpan.html(spanText.replace(s, "<mark>" + s + "</mark>"));
            }

            highlightSize('250x250');
        }

        function show_outside_excel_execute(){
            $('#outside_file_form').submit()
            $('#outside_tracking_file_div').show();
        }

        function hide_outside_tracking_file_div(){
            $('#outside_tracking_file_div').hidden();
        }


        function AddAdgroup() {

          var input = document.getElementById('myInput');
          var output = document.getElementById('Adgroup');
          Adgroup_list.push(input.value)
                output.innerHTML = 'Added Adgroup:<ul>'+Adgroup_list+'</ul>'
        }

        function DeleteAdgroup(){
          var input = document.getElementById('myInput');
          var output = document.getElementById('Adgroup');
          Adgroup_list.pop()
            output.innerHTML = 'Added Adgroup:<ul>'+Adgroup_list+'</ul>'

        }

    </script>
</head>
<body>

<div class="wrapper">
    <div class="sidebar">

        <h2>Automation Tools</h2>
        <div class="logo_wrap">
				<a href="#">
					<img src="static/TTD_BIG.png" alt="logo"></a>
        </div>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/CampaignName"><i class="fa-solid fa-image"></i>Setup Template</a></li>
            <li><a href="/viewMacros"><i class="fa-sharp fa-solid fa-eye"></i>View All Macros</a></li>
            <!--<li><a href="#"><i class="fa-sharp fa-solid fa-file-export"></i>Output</a></li>-->
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Welcome to Creative Bulk Import Assistant.</div>
        <div class="info">
            <div style="position:absolute; left:53%">
            <p>Macro Dictionary:</p>
                <table class="content-table">
                <thead>
                <tr>
                    <td>Object</td>
                    <td>macro_key</td>
                    <td>macro_value</td>
                    <td>description</td>
                </tr>
                {% for k, v in macros.items() %}
                <tbody>
                <tr>
                    <td>{{ k }}</td>
                    <td>{{ v["key"] }}</td>
                    <td>{{ v["value"] }}</td>
                    <td>{{ v["desc"] }}</td>
                </tr>
                {% endfor %}
            </table><br>
<!--                <form method="post" id="add_Adgroup" action="/add_Adgroup" >-->
                    <p>Add value to Adgroup Macro(##ag##):</p>
                    <input id="myInput" type="text" value="">
                    <button id="myBtn" onclick="AddAdgroup()">Add</button>
<!--                    <input id="delInput" type="text" value="">-->
                    <button id="myDel" onclick="DeleteAdgroup()">Delete the last Adgroup</button>
                    <div id="Adgroup" ></div>
<!--                    </form>-->
            <a href="https://atlassian.thetradedesk.com/confluence/display/TSDKB/The+Trade+Desk+Macros" target="_blank">More TTD Macros.</a>
            </div>
            <form method="post" id="rule_setting_form" action="/add_rules" target="submitted">
                <p>Choose Creative Files:</p>

                <table class="content-table" style="width:40%">
                    <thead>
                    <tr><td></td><td>file_name</td><td>size</td><td>extension</td><td>mime</td></tr>
                    <tbody>
                    {% for f in file_list %}
                    <tr>
                        <td><input type="checkbox" name="creative_files[]" id="creative_files" value="{{f[0]}}" checked ='checked'></td>
                        <td>{{f[0]}}</td>
                        <td>{{f[1]}}x{{f[2]}}</td>
                        <td>{{f[3]}}</td>
                        <td>{{f[4]}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                    Creative type:<select name= creative_type id="creative_type" >
                        {% for creative in creative_type %}
                        <option value="{{creative}}" >{{creative}}</option>
                        {% endfor %}
                    </select>
                        <input type="submit" name="add_rule" value="Change Type" onclick="change_type()" >
<!--                    <input type="hidden" name="types" id="types" value="">-->

                    </tr>

                </table>
                <br>
                <table  style="width:40%">
                    <tr>
                        <td style="padding: 10px 0 10px">Name:&nbsp
                            <span class="mytooltip tooltip-effect-1"  style="z-index:-1">
                            <span class="tooltip-item"><i class="fa-solid fa-circle-question"></i></span>
                            <span class="tooltip-content clearfix">
                            <img src="static/tooltipName.png">
<!--                            <span class="tooltip-text">For column Name in template sheet</span>-->
                            </span>
                            </span>
                            <br><input type="text" name="creative_name_rule" style="width:180px" value="##cpn##_##cfn##"></td>

                    </tr>
                    <tr>
                        <td style="padding: 10px 0 10px">Description:<br>
                        <input type="text" name="Description_rule" style="width:50%" value="##cpn## ##ag##"></td>
                    </tr>
                    <!--html5 3rd display-->
                    <tr id = 'n7'  style="display:none">
                        <td style="padding: 10px 0 10px">Width:<br>
                        <input type="text" name="Width" id="Width" style="width:100%"  value="##w##"></td>
                    </tr>
                    <tr id = 'n8'  style="display:none">
                        <td style="padding: 10px 0 10px">Height:<br>
                        <input type="text" name="Height" id="Height" style="width:100%"  value="##h##"></td>
                    </tr>
                    <tr>
                        <td id = 'n9'  style="display:none;padding: 10px 0 10px">AdTag:<br>
                        <input type="text" name="AdTag" id="AdTag" style="width:100%"  value=""></td>
                    </tr>
                    <!-- 3rd Video Audio-->
                    <tr>
                        <td style="padding: 10px 0 10px;display:none" id = 'n10'>VAST XML URL:<br>
                        <input type="text" name="VAST_XML_URL" id="VAST_XML_URL" style="width:100%"  value=""></td>
                    </tr>
                    <tr>
                        <td  id='a' style="padding: 10px 0 10px">Asset File Name(if you don't change, the same as file name):<br>
                        <input type="text" name="Asset_File_Name_rule" style="width:50%" value="##cfn##"></td>
                    </tr>
                    <tr>
                        <td id='c' style="padding: 10px 0 10px">Clickthrough_url:<br>
                        <input type="text" name="clickthrough_rule" style="width:100%"  value="?utm_source=TTD_%%TTD_CAMPAIGNID%%&utm_campaign=%%TTD_CAMPAIGNID%%&utm_medium=display&utm_content=%%TTD_ADGROUPID%%_%%TTD_CREATIVEID%%_%%TTD_SITE%%&utm_term=%%TTD_TDID%%"></td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0 10px">Landing_page_url:<br>
                        <input type="text" name="landing_page_rule" style="width:100%"  value=""></td>
                    </tr>
                    <!--native-->
                    <tr id = 'n1'  style="display:none">
                        <td style="padding: 10px 0 10px">Native_Short_Title:<br>
                        <input type="text" name="Native_Short_Title" id="Native_Short_Title" style="width:100%"  value=""></td>
                    </tr>
                    <tr id = 'n2'  style="display:none">
                        <td style="padding: 10px 0 10px">Native_Long_Title:<br>
                        <input type="text" name="Native_Long_Title" id="Native_Long_Title" style="width:100%"  value=""></td>
                    </tr>
                    <tr id = 'n3'  style="display:none">
                        <td style="padding: 10px 0 10px">Native_Short_Description:<br>
                        <input type="text" name="Native_Short_Description" id="Native_Short_Description" style="width:100%"  value=""></td>
                    </tr>
                    <tr  id = 'n4'  style="display:none">
                        <td style="padding: 10px 0 10px">Native_Long_Description:<br>
                        <input type="text" name="Native_Long_Description" id ="Native_Long_Description" style="width:100%"  value=""></td>
                    </tr>
                    <tr>
                        <td id = 'n5' style="padding: 10px 0 10px;display:none">Sponsor:<br>
                        <input type="text" name="Sponsor" id="Sponsor" style="width:100%"  value=""></td>
                    </tr>
                    <tr>
                        <td id='i' style="padding: 10px 0 10px">Impression_Tracking_url:(Not required)<br>
                        <input type="text" name="Impression_Tracking_url" style="width:100%"  value=""></td>
                    </tr>
                    <!--flash html-->
                    <tr>
                        <td id = 'n6' style="padding: 10px 0 10px; display:none "  >Click Tracking Parameter:<br>
                        <input type="text" name="Click_Tracking_Parameter" id="Click_Tracking_Parameter" style="width:100%"  value=""></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 10px 0 10px">
                            <input type="hidden" value="{{cn}}">
                            <input type="submit" name="add_rule" value="Add Rule" onclick="combine_checkboxes_adgroup()">
                        </td>
                    </tr>
                </table>

                <input type="hidden" name="files" id="files" value="">
                <input type="hidden" name="Ag_list" id="Ag_list" value="">
            </form>
            <form style="padding: 10px 0 10px" method="post" id="rule_setting_form_delete" action="/delete_last_rule" target="submitted">
                <input type="submit" value="remove the last added rule" >
            </form>
            <br>

            <!--
            <table>
                <tr>
                    <td colspan="2" style="padding: 10px 0 10px">
                        <p>Set rules from 3rd party tracking file:</p>
                        <form method="post" id="outside_file_form" action="/miaozhenfileUpload" enctype="multipart/form-data">
                            <input type="file" id="upload_outside_file" name="upload_outside_file"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" value="Load Miaozhen Tracking File" >
                            <input type="button" value='Upload' onclick="show_outside_excel_execute()">
                        </form>
                    </td>
                </tr>
            </table>
            -->
            <iframe style="border:0px; width:100%; height:460px" id="submitted" name="submitted" >
            </iframe>
      </div>
    </div>
</div>
</body>
</html>