
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose File</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="{{ url_for('static', filename='28adb9f300.js') }}" crossorigin="anonymous"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
            function validateForm(){
                var image = document.getElementById("image").value;
                var name = document.getElementById("name").value;
                if (image =='')
                {
                    return false;
                }
                if(name =='')
                {
                    return false;
                }
                else
                {
                    return true;
                }
                return false;
            }

             function updateList() {
                var input = document.getElementById('myFile');
                var output = document.getElementById('fileList');
                var children = "";
                for (var i = 0; i < input.files.length; ++i) {
                    children += '<li>' + '<a>File Name: </a>' + input.files.item(i).name
                        + '<a> &nbsp;&nbsp;File Type: </a>' + input.files.item(i).type  + '</li>';
                }
                output.innerHTML = '<ul>'+children+'</ul>';
            }

            $(document).ready(function()
                {
                    $('#selected_radio').first().attr("checked","checked");
                }
            )


            function select_radio( str ){
                $('#selected_radio').removeAttr("checked");
                $('#selected_radio[value="'+ str +'"]').attr("checked","checked");
            }
    </script>
</head>
<body>
<div class="wrapper">
    <div class="sidebar">

        <h2>Automation Tools</h2>
        <div class="logo_wrap">
                <a href="#">
                    <img src="static/TTD_BIG.png" alt="logo"></a>
        </div>
        <ul>
            <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="/CampaignName"><i class="fa-solid fa-image"></i>Setup Template</a></li>
            <li><a href="/viewMacros"><i class="fa-sharp fa-solid fa-eye"></i>View All Macros</a></li>

        </ul>
    </div>
    <div class="main_content">
        <div  style="position:relative; left:20px; top: 20px">
        <table>
            <tr>
                <td colspan="2">
                    <p>Please select the sheet:</p>
                </td>
            </tr>
            <form method="post" action="/selected_excel_sheet">
                {% for sheetname in sheets %}
                <tr>
                    <td style="width: 20px"><input type="radio" id="selected_radio" name="selected_radio" value="{{sheetname}}" ></td>
                    <td><a style="cursor:pointer" onclick="select_radio('{{sheetname}}') ">{{sheetname}}</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="name_sep" value=' - '>
                        <input type="submit" value="Next">
                    </td>
                </tr>
            </form>
        </table>
        </div>
    </div>
</div>
</body>
</html>