<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table style="width:100%">
        <tr><td align="center">name_rule</td><td align="center">Description_rule</td><td align="center">Asset_File_Name_rule</td><td>clickthrough_url</td><td>landing_url</td></tr>
        {% for rule in creative_rules %}
            <tr>
                <td>{{rule["name"]}}</td>
                <td>{{rule["Description"]}}</td>
                <td>
                    {% for f in rule["creative_files"] %}
                    {{f}} (original name,might be changed in excel)
                    {% endfor %}
                </td>
                <td>{{rule["clickthrough_url"]}}</td>
                <td>{{rule["landing_page_url"]}}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/output" target="_blank">Step1: Download Results</a>
    <p>
    <a href="/download_zip" target="_blank">Step2: Download renamed creatives in zip file</a>
</body>
</html>