<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreativeCreationAssistant Version 0.1</title>
    <link rel="stylesheet" href="static/styles.css">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">-->
    <script src="https://kit.fontawesome.com/28adb9f300.js" crossorigin="anonymous"></script>
</head>
<body>
<!--<table>-->
<!--    <tr>-->
<!--        <td>Campaign Name Setting:</td>-->
<!--        <td><a href="/CampaignName" target="_blank">Setting</a></td>-->
<!--    </tr>-->
<!--    <tr>-->
<!--        <td>Creative Setting:</td>-->
<!--        <td><a href="/CreativeSetting(HostedType-Display)" target="_blank">HostedType-Display</a></td>-->
<!--        <td><a target="_blank">Others(Planning)</a></td>-->
<!--    </tr>-->
<!--</table>-->
<!--<p>-->
<!--<table>-->
<!--    <tr>-->
<!--        <td>All Macros</td>-->
<!--        <td><a href="/viewMacros" target="_blank">View</a></td>-->
<!--    </tr>-->
<!--</table>-->



<div class="wrapper">
    <div class="sidebar">

        <h2>Sidebar</h2>
        <div class="logo_wrap">
				<a href="#">
					<img src="static/TTD_BIG.png" alt="logo"></a>
        </div>
        <ul>
             <li><a href="/"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fa-solid fa-list-ol"></i>Campaign ID</a></li>
            <li><a href="/CampaignName"><i class="fas fa-address-card"></i>Campaign Name</a></li>
            <li><a href="/chooseFile"><i class="fa-solid fa-image"></i>Creative File</a></li>
<!--            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>-->
            <li><a href="CreativeSetting"><i class="fa-solid fa-scale-balanced"></i>Rules</a></li>
            <li><a href="/viewMacros"><i class="fa-sharp fa-solid fa-eye"></i>View All Macros</a></li>
             <li><a href="#"><i class="fa-sharp fa-solid fa-file-export"></i>Output</a></li>
        </ul>
    </div>
    <div class="main_content">
        <div class="header">Welcome to TTD Creative Creation Assistant.</div>
        <div class="info">
            <div>Instruction:</div>
            <div>Step 1:</div>
            <div>Step 2:</div>
            <div>Step 3:</div>
            <div>Click 'Output' bottom to create Creative Upload File!</div>
      </div>
    </div>
</div>
</body>
</html>